In [1]:
from sklearn.cluster import KMeans

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [52]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import tree

In [2]:
location = "demotimelyflights.csv"
df = pd.read_csv(location)
df

,YEAR,MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,...,ACTUAL_ELAPSED_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,TOTAL_ADD_GTIME,DIV_AIRPORT_LANDINGS
0,2018,10,1,19393,802,10140,1014005,30140,ABQ,"Albuquerque, NM",...,210.0,1,1670,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2018,10,1,19393,3744,10140,1014005,30140,ABQ,"Albuquerque, NM",...,202.0,1,1670,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2018,10,1,19393,1019,10140,1014005,30140,ABQ,"Albuquerque, NM",...,90.0,1,580,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2018,10,1,19393,1499,10140,1014005,30140,ABQ,"Albuquerque, NM",...,96.0,1,580,NaN,NaN,NaN,NaN,NaN,NaN,0
4,2018,10,1,19393,3635,10140,1014005,30140,ABQ,"Albuquerque, NM",...,92.0,1,580,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,2018,10,1,19393,2790,10821,1082106,30852,BWI,"Baltimore, MD",...,58.0,1,281,NaN,NaN,NaN,NaN,NaN,NaN,0
524,2018,10,1,19393,2889,10821,1082106,30852,BWI,"Baltimore, MD",...,62.0,1,281,NaN,NaN,NaN,NaN,NaN,NaN,0
525,2018,10,1,19393,2953,10821,1082106,30852,BWI,"Baltimore, MD",...,56.0,1,281,NaN,NaN,NaN,NaN,NaN,NaN,0
526,2018,10,1,19393,3617,10821,1082106,30852,BWI,"Baltimore, MD",...,66.0,1,281,NaN,NaN,NaN,NaN,NaN,NaN,0
527,2018,10,1,19393,3916,10821,1082106,30852,BWI,"Baltimore, MD",...,68.0,1,281,NaN,NaN,NaN,NaN,NaN,NaN,0

In [3]:
df.isnull().sum()

YEAR                       0
MONTH                      0
DAY_OF_WEEK                0
OP_CARRIER_AIRLINE_ID      0
OP_CARRIER_FL_NUM          0
ORIGIN_AIRPORT_ID          0
ORIGIN_AIRPORT_SEQ_ID      0
ORIGIN_CITY_MARKET_ID      0
ORIGIN                     0
ORIGIN_CITY_NAME           0
ORIGIN_STATE_ABR           0
ORIGIN_STATE_NM            0
ORIGIN_WAC                 0
DEST_AIRPORT_ID            0
DEST_AIRPORT_SEQ_ID        0
DEST_CITY_MARKET_ID        0
DEST                       0
DEST_CITY_NAME             0
DEST_STATE_ABR             0
DEST_STATE_NM              0
DEST_WAC                   0
CRS_DEP_TIME               0
DEP_TIME                   3
DEP_DELAY                  3
DEP_DELAY_NEW              3
DEP_DEL15                  3
DEP_DELAY_GROUP            3
DEP_TIME_BLK               0
TAXI_OUT                   3
WHEELS_OFF                 3
WHEELS_ON                  3
TAXI_IN                    3
CRS_ARR_TIME               0
ARR_TIME                   3
ARR_DELAY                  3
ARR_DELAY_NEW              3
ARR_DEL15                  3
ARR_DELAY_GROUP            3
ARR_TIME_BLK               0
CANCELLED                  0
CANCELLATION_CODE        525
DIVERTED                   0
CRS_ELAPSED_TIME           0
ACTUAL_ELAPSED_TIME        3
FLIGHTS                    0
DISTANCE                   0
CARRIER_DELAY            470
WEATHER_DELAY            470
NAS_DELAY                470
SECURITY_DELAY           470
LATE_AIRCRAFT_DELAY      470
TOTAL_ADD_GTIME          526
DIV_AIRPORT_LANDINGS       0
dtype: int64

In [4]:
missing = df.loc[df['DEP_DELAY'].isnull()]
missing.head()

,YEAR,MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,...,ACTUAL_ELAPSED_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,TOTAL_ADD_GTIME,DIV_AIRPORT_LANDINGS
179,2018,10,1,19393,1769,10423,1042302,30423,AUS,"Austin, TX",...,NaN,1,189,NaN,NaN,NaN,NaN,NaN,NaN,0
390,2018,10,1,19393,3431,10721,1072102,30721,BOS,"Boston, MA",...,NaN,1,369,NaN,NaN,NaN,NaN,NaN,NaN,0
518,2018,10,1,19393,3430,10821,1082106,30852,BWI,"Baltimore, MD",...,NaN,1,369,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
df['CARRIER_DELAY'].fillna(0, inplace=True)
df['WEATHER_DELAY'].fillna(0, inplace=True)
df['NAS_DELAY'].fillna(0, inplace=True)
df['SECURITY_DELAY'].fillna(0, inplace=True)
df['LATE_AIRCRAFT_DELAY'].fillna(0, inplace=True)

In [6]:
df.isnull().sum()

YEAR                       0
MONTH                      0
DAY_OF_WEEK                0
OP_CARRIER_AIRLINE_ID      0
OP_CARRIER_FL_NUM          0
ORIGIN_AIRPORT_ID          0
ORIGIN_AIRPORT_SEQ_ID      0
ORIGIN_CITY_MARKET_ID      0
ORIGIN                     0
ORIGIN_CITY_NAME           0
ORIGIN_STATE_ABR           0
ORIGIN_STATE_NM            0
ORIGIN_WAC                 0
DEST_AIRPORT_ID            0
DEST_AIRPORT_SEQ_ID        0
DEST_CITY_MARKET_ID        0
DEST                       0
DEST_CITY_NAME             0
DEST_STATE_ABR             0
DEST_STATE_NM              0
DEST_WAC                   0
CRS_DEP_TIME               0
DEP_TIME                   3
DEP_DELAY                  3
DEP_DELAY_NEW              3
DEP_DEL15                  3
DEP_DELAY_GROUP            3
DEP_TIME_BLK               0
TAXI_OUT                   3
WHEELS_OFF                 3
WHEELS_ON                  3
TAXI_IN                    3
CRS_ARR_TIME               0
ARR_TIME                   3
ARR_DELAY                  3
ARR_DELAY_NEW              3
ARR_DEL15                  3
ARR_DELAY_GROUP            3
ARR_TIME_BLK               0
CANCELLED                  0
CANCELLATION_CODE        525
DIVERTED                   0
CRS_ELAPSED_TIME           0
ACTUAL_ELAPSED_TIME        3
FLIGHTS                    0
DISTANCE                   0
CARRIER_DELAY              0
WEATHER_DELAY              0
NAS_DELAY                  0
SECURITY_DELAY             0
LATE_AIRCRAFT_DELAY        0
TOTAL_ADD_GTIME          526
DIV_AIRPORT_LANDINGS       0
dtype: int64

In [7]:
newdf = df.drop(['YEAR','MONTH','TAXI_OUT','WHEELS_OFF','WHEELS_ON','TAXI_IN','CANCELLATION_CODE','TOTAL_ADD_GTIME'], axis=1)
newdf.head()

,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_AIRPORT_LANDINGS
0,1,19393,802,10140,1014005,30140,ABQ,"Albuquerque, NM",NM,New Mexico,...,225,210.0,1,1670,0.0,0.0,0.0,0.0,0.0,0
1,1,19393,3744,10140,1014005,30140,ABQ,"Albuquerque, NM",NM,New Mexico,...,225,202.0,1,1670,0.0,0.0,0.0,0.0,0.0,0
2,1,19393,1019,10140,1014005,30140,ABQ,"Albuquerque, NM",NM,New Mexico,...,105,90.0,1,580,0.0,0.0,0.0,0.0,0.0,0
3,1,19393,1499,10140,1014005,30140,ABQ,"Albuquerque, NM",NM,New Mexico,...,105,96.0,1,580,0.0,0.0,0.0,0.0,0.0,0
4,1,19393,3635,10140,1014005,30140,ABQ,"Albuquerque, NM",NM,New Mexico,...,100,92.0,1,580,0.0,0.0,0.0,0.0,0.0,0

In [8]:
newdf.isnull().sum()

DAY_OF_WEEK              0
OP_CARRIER_AIRLINE_ID    0
OP_CARRIER_FL_NUM        0
ORIGIN_AIRPORT_ID        0
ORIGIN_AIRPORT_SEQ_ID    0
ORIGIN_CITY_MARKET_ID    0
ORIGIN                   0
ORIGIN_CITY_NAME         0
ORIGIN_STATE_ABR         0
ORIGIN_STATE_NM          0
ORIGIN_WAC               0
DEST_AIRPORT_ID          0
DEST_AIRPORT_SEQ_ID      0
DEST_CITY_MARKET_ID      0
DEST                     0
DEST_CITY_NAME           0
DEST_STATE_ABR           0
DEST_STATE_NM            0
DEST_WAC                 0
CRS_DEP_TIME             0
DEP_TIME                 3
DEP_DELAY                3
DEP_DELAY_NEW            3
DEP_DEL15                3
DEP_DELAY_GROUP          3
DEP_TIME_BLK             0
CRS_ARR_TIME             0
ARR_TIME                 3
ARR_DELAY                3
ARR_DELAY_NEW            3
ARR_DEL15                3
ARR_DELAY_GROUP          3
ARR_TIME_BLK             0
CANCELLED                0
DIVERTED                 0
CRS_ELAPSED_TIME         0
ACTUAL_ELAPSED_TIME      3
FLIGHTS                  0
DISTANCE                 0
CARRIER_DELAY            0
WEATHER_DELAY            0
NAS_DELAY                0
SECURITY_DELAY           0
LATE_AIRCRAFT_DELAY      0
DIV_AIRPORT_LANDINGS     0
dtype: int64

In [9]:
missing = newdf.loc[df['DEP_DELAY'].isnull()]
missing.head()

,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_AIRPORT_LANDINGS
179,1,19393,1769,10423,1042302,30423,AUS,"Austin, TX",TX,Texas,...,55,NaN,1,189,0.0,0.0,0.0,0.0,0.0,0
390,1,19393,3431,10721,1072102,30721,BOS,"Boston, MA",MA,Massachusetts,...,95,NaN,1,369,0.0,0.0,0.0,0.0,0.0,0
518,1,19393,3430,10821,1082106,30852,BWI,"Baltimore, MD",MD,Maryland,...,85,NaN,1,369,0.0,0.0,0.0,0.0,0.0,0

In [10]:
newdf=newdf.loc[newdf['DEP_DELAY'].notnull()]

In [11]:
newdf.isnull().sum()

DAY_OF_WEEK              0
OP_CARRIER_AIRLINE_ID    0
OP_CARRIER_FL_NUM        0
ORIGIN_AIRPORT_ID        0
ORIGIN_AIRPORT_SEQ_ID    0
ORIGIN_CITY_MARKET_ID    0
ORIGIN                   0
ORIGIN_CITY_NAME         0
ORIGIN_STATE_ABR         0
ORIGIN_STATE_NM          0
ORIGIN_WAC               0
DEST_AIRPORT_ID          0
DEST_AIRPORT_SEQ_ID      0
DEST_CITY_MARKET_ID      0
DEST                     0
DEST_CITY_NAME           0
DEST_STATE_ABR           0
DEST_STATE_NM            0
DEST_WAC                 0
CRS_DEP_TIME             0
DEP_TIME                 0
DEP_DELAY                0
DEP_DELAY_NEW            0
DEP_DEL15                0
DEP_DELAY_GROUP          0
DEP_TIME_BLK             0
CRS_ARR_TIME             0
ARR_TIME                 0
ARR_DELAY                0
ARR_DELAY_NEW            0
ARR_DEL15                0
ARR_DELAY_GROUP          0
ARR_TIME_BLK             0
CANCELLED                0
DIVERTED                 0
CRS_ELAPSED_TIME         0
ACTUAL_ELAPSED_TIME      0
FLIGHTS                  0
DISTANCE                 0
CARRIER_DELAY            0
WEATHER_DELAY            0
NAS_DELAY                0
SECURITY_DELAY           0
LATE_AIRCRAFT_DELAY      0
DIV_AIRPORT_LANDINGS     0
dtype: int64

In [12]:
delaybytimedf = newdf[['CRS_DEP_TIME','DEP_DELAY','CRS_ARR_TIME','ARR_DELAY']].copy()
delaybytimedf.head()

   CRS_DEP_TIME  DEP_DELAY  CRS_ARR_TIME  ARR_DELAY
0           905       -2.0          1450      -17.0
1          1500       -2.0          2045      -25.0
2          1800        2.0          2045      -13.0
3           950       -3.0          1235      -12.0
4          1150        1.0          1430       -7.0

In [13]:
delaybytimedf.describe()

       CRS_DEP_TIME   DEP_DELAY  CRS_ARR_TIME   ARR_DELAY
count    525.000000  525.000000    525.000000  525.000000
mean    1336.619048    6.830476   1461.647619    0.146667
std      489.881828   27.335277    511.141608   28.294313
min      525.000000  -11.000000      5.000000  -29.000000
25%      925.000000   -4.000000   1035.000000  -13.000000
50%     1330.000000   -1.000000   1450.000000   -7.000000
75%     1735.000000    3.000000   1910.000000    1.000000
max     2225.000000  239.000000   2355.000000  232.000000

In [14]:
bins = [-1,90,190,290,390,490,590,690,790,890,990,1090,1190,1290,1390,1490,1590,1690,1790,1890,1990,2090,2190,2290,2401]
group_names = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]
delaybytimedf['depHour'] = pd.cut(delaybytimedf['CRS_DEP_TIME'], bins, labels=group_names)
newdf['depHour'] = pd.cut(newdf['CRS_DEP_TIME'], bins, labels=group_names)
delaybytimedf['arrHour'] = pd.cut(delaybytimedf['CRS_ARR_TIME'], bins, labels=group_names)
newdf['depHour'] = pd.cut(newdf['CRS_DEP_TIME'], bins, labels=group_names)

In [15]:
delaybytimedf.head()

   CRS_DEP_TIME  DEP_DELAY  CRS_ARR_TIME  ARR_DELAY depHour arrHour
0           905       -2.0          1450      -17.0       9      14
1          1500       -2.0          2045      -25.0      15      20
2          1800        2.0          2045      -13.0      18      20
3           950       -3.0          1235      -12.0       9      12
4          1150        1.0          1430       -7.0      11      14

In [16]:
delaybytimedf.groupby(['depHour'])['DEP_DELAY'].mean()

depHour
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5     -1.615385
6     -2.393939
7     -1.431818
8     -2.212121
9     -1.470588
10     1.656250
11     8.657143
12    12.722222
13    10.538462
14    11.423077
15     2.361111
16    13.965517
17    25.807692
18    22.827586
19     6.105263
20     7.761905
21     5.954545
22    13.529412
23          NaN
Name: DEP_DELAY, dtype: float64

In [17]:
delaybytimedf.groupby(['arrHour'])['ARR_DELAY'].mean()

arrHour
0     -9.000000
1    -24.000000
2           NaN
3           NaN
4           NaN
5           NaN
6     -7.333333
7     -5.656250
8     -7.269231
9     -7.090909
10    -9.342105
11    -9.103448
12    -5.340426
13    -3.714286
14     4.689655
15    -0.920000
16     4.190476
17    10.538462
18     4.129032
19     6.214286
20    20.607143
21     2.736842
22     5.526316
23     4.571429
Name: ARR_DELAY, dtype: float64

In [18]:
def catSort(a,b,c,d,e):
    if a>=b:
        if a>=c:
            if a>=d:
                if a>=e:
                    return 1
                else:
                    return 0
            else:
                return 0
        else:
            return 0
    else:
        return 0

In [19]:
def comboCheck(a,b,c,d,e):
    if a==b:
        return 2
    elif a==c:
        return 2
    elif a==d:
        return 2
    elif a==e:
        return 2
    else:
        return 1

In [20]:
def delayCat(carrier,weather,nas,security,lateair):
    if (carrier+weather+nas+security+lateair)==0:
        return "NoneReported"
    elif catSort(carrier,weather,nas,security,lateair)==1:
        if comboCheck(carrier,weather,nas,security,lateair)==2:
            return "Combo"
        else:
            return "Carrier"
    elif catSort(weather,carrier,nas,security,lateair)==1:
        if comboCheck(weather,carrier,nas,security,lateair)==2:
            return "Combo"
        else:
            return "Weather"
    elif catSort(nas,carrier,weather,security,lateair)==1:
        if comboCheck(nas,carrier,weather,security,lateair)==2:
            return "Combo"
        else:
            return "NationalAirSystem"
    elif catSort(security,carrier,weather,nas,lateair)==1:
        if comboCheck(security,carrier,weather,nas,lateair)==2:
            return "Combo"
        else:
            return "Security"
    elif catSort(lateair,carrier,weather,nas,security)==1:
        if comboCheck(lateair,carrier,weather,nas,security)==2:
            return "Combo"
        else:
            return "LateAircraft"

In [21]:
typebytimedf = delaybytimedf[['depHour','arrHour','DEP_DELAY','ARR_DELAY']].copy()
typebytimedf.head()

  depHour arrHour  DEP_DELAY  ARR_DELAY
0       9      14       -2.0      -17.0
1      15      20       -2.0      -25.0
2      18      20        2.0      -13.0
3       9      12       -3.0      -12.0
4      11      14        1.0       -7.0

In [22]:
newdf.columns

Index(['DAY_OF_WEEK', 'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID',
       'ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM',
       'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR',
       'DEST_STATE_NM', 'DEST_WAC', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY',
       'DEP_DELAY_NEW', 'DEP_DEL15', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK',
       'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15',
       'ARR_DELAY_GROUP', 'ARR_TIME_BLK', 'CANCELLED', 'DIVERTED',
       'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'FLIGHTS', 'DISTANCE',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'DIV_AIRPORT_LANDINGS', 'depHour'],
      dtype='object')

In [23]:
typebytimedf['DelayCategory'] = newdf.apply(lambda row: delayCat(row['CARRIER_DELAY'],row['WEATHER_DELAY'],row['NAS_DELAY'],row['SECURITY_DELAY'],row['LATE_AIRCRAFT_DELAY']),axis=1)

In [24]:
newdf['DelayCategory'] = newdf.apply(lambda row: delayCat(row['CARRIER_DELAY'],row['WEATHER_DELAY'],row['NAS_DELAY'],row['SECURITY_DELAY'],row['LATE_AIRCRAFT_DELAY']),axis=1)

In [25]:
typebytimedf[95:100]

   depHour arrHour  DEP_DELAY  ARR_DELAY      DelayCategory
95      11      12       98.0      128.0            Carrier
96       6       7       -4.0      -11.0       NoneReported
97      13      14       -7.0       23.0  NationalAirSystem
98      15      17        0.0        2.0       NoneReported
99       8      10       -6.0      -17.0       NoneReported

In [26]:
typebytimedf.groupby(['DelayCategory'])['DEP_DELAY'].mean()

DelayCategory
Carrier              68.833333
LateAircraft         73.121212
NationalAirSystem    45.384615
NoneReported         -0.520343
Name: DEP_DELAY, dtype: float64

In [27]:
grouped=typebytimedf.groupby(['depHour','DelayCategory'])['DEP_DELAY'].mean()

In [28]:
type(grouped)

pandas.core.series.Series

In [29]:
gro=grouped.loc[grouped.notnull()]

In [30]:
gro

depHour  DelayCategory
5        NoneReported          -1.615385
6        NationalAirSystem     -3.000000
         NoneReported          -2.375000
7        Carrier               15.000000
         NoneReported          -1.813953
8        NationalAirSystem     -1.000000
         NoneReported          -2.250000
9        NoneReported          -1.470588
10       Carrier               35.000000
         NoneReported           0.580645
11       Carrier               98.000000
         LateAircraft          53.000000
         NationalAirSystem    125.000000
         NoneReported          -0.838710
12       LateAircraft          72.333333
         NationalAirSystem     14.000000
         NoneReported          -0.142857
13       Carrier              118.500000
         LateAircraft          27.500000
         NationalAirSystem     27.000000
         NoneReported           1.187500
14       Carrier               34.000000
         NationalAirSystem     77.666667
         NoneReported           1.363636
15       LateAircraft          30.500000
         NoneReported           0.705882
16       Carrier               33.000000
         LateAircraft          49.250000
         NationalAirSystem     64.000000
         NoneReported           2.136364
17       LateAircraft         129.000000
         NoneReported           1.238095
18       LateAircraft          81.875000
         NationalAirSystem     13.000000
         NoneReported          -0.300000
19       Carrier               76.000000
         LateAircraft          72.000000
         NoneReported           0.342857
20       Carrier               58.500000
         LateAircraft          95.000000
         NoneReported          -2.722222
21       Carrier               69.000000
         LateAircraft          54.500000
         NoneReported          -2.473684
22       Carrier              112.000000
         LateAircraft          64.500000
         NoneReported          -0.785714
Name: DEP_DELAY, dtype: float64

In [31]:
delaybycarrierdf=df[['DEP_DELAY','ARR_DELAY','OP_CARRIER_AIRLINE_ID']].copy()

In [32]:
delaybycarrierdf.groupby(['OP_CARRIER_AIRLINE_ID'])['DEP_DELAY'].mean()

OP_CARRIER_AIRLINE_ID
19393    6.830476
Name: DEP_DELAY, dtype: float64

In [33]:
#make the predictive model

In [34]:
newdf['ORIGIN_STATE_ABR'].value_counts()

GA    119
TN    105
TX     69
CA     57
MD     44
NM     34
MA     33
NY     25
CT     15
ID     12
AL     12
Name: ORIGIN_STATE_ABR, dtype: int64

In [35]:
newdf.columns

Index(['DAY_OF_WEEK', 'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID',
       'ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM',
       'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR',
       'DEST_STATE_NM', 'DEST_WAC', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY',
       'DEP_DELAY_NEW', 'DEP_DEL15', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK',
       'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15',
       'ARR_DELAY_GROUP', 'ARR_TIME_BLK', 'CANCELLED', 'DIVERTED',
       'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'FLIGHTS', 'DISTANCE',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'DIV_AIRPORT_LANDINGS', 'depHour',
       'DelayCategory'],
      dtype='object')

In [43]:
newdf.dtypes

DAY_OF_WEEK                 int64
OP_CARRIER_AIRLINE_ID       int64
OP_CARRIER_FL_NUM           int64
ORIGIN_AIRPORT_ID           int64
ORIGIN_AIRPORT_SEQ_ID       int64
ORIGIN_CITY_MARKET_ID       int64
ORIGIN                     object
ORIGIN_CITY_NAME           object
ORIGIN_STATE_ABR           object
ORIGIN_STATE_NM            object
ORIGIN_WAC                  int64
DEST_AIRPORT_ID             int64
DEST_AIRPORT_SEQ_ID         int64
DEST_CITY_MARKET_ID         int64
DEST                       object
DEST_CITY_NAME             object
DEST_STATE_ABR             object
DEST_STATE_NM              object
DEST_WAC                    int64
CRS_DEP_TIME                int64
DEP_TIME                  float64
DEP_DELAY                 float64
DEP_DELAY_NEW             float64
DEP_DEL15                 float64
DEP_DELAY_GROUP           float64
DEP_TIME_BLK               object
CRS_ARR_TIME                int64
ARR_TIME                  float64
ARR_DELAY                 float64
ARR_DELAY_NEW             float64
ARR_DEL15                 float64
ARR_DELAY_GROUP           float64
ARR_TIME_BLK               object
CANCELLED                   int64
DIVERTED                    int64
CRS_ELAPSED_TIME            int64
ACTUAL_ELAPSED_TIME       float64
FLIGHTS                     int64
DISTANCE                    int64
CARRIER_DELAY             float64
WEATHER_DELAY             float64
NAS_DELAY                 float64
SECURITY_DELAY            float64
LATE_AIRCRAFT_DELAY       float64
DIV_AIRPORT_LANDINGS        int64
depHour                  category
DelayCategory              object
dtype: object

In [37]:
modeldf=newdf[['DAY_OF_WEEK','depHour','OP_CARRIER_AIRLINE_ID','ORIGIN_STATE_ABR','DEP_DEL15']].copy()
modeldf.head()

   DAY_OF_WEEK depHour  OP_CARRIER_AIRLINE_ID ORIGIN_STATE_ABR  DEP_DEL15
0            1       9                  19393               NM        0.0
1            1      15                  19393               NM        0.0
2            1      18                  19393               NM        0.0
3            1       9                  19393               NM        0.0
4            1      11                  19393               NM        0.0

In [44]:
modeldf = pd.get_dummies(data=modeldf, columns=['ORIGIN_STATE_ABR'])
modeldf.head()

,DAY_OF_WEEK,depHour,OP_CARRIER_AIRLINE_ID,DEP_DEL15,ORIGIN_STATE_ABR_AL,ORIGIN_STATE_ABR_CA,ORIGIN_STATE_ABR_CT,ORIGIN_STATE_ABR_GA,ORIGIN_STATE_ABR_ID,ORIGIN_STATE_ABR_MA,ORIGIN_STATE_ABR_MD,ORIGIN_STATE_ABR_NM,ORIGIN_STATE_ABR_NY,ORIGIN_STATE_ABR_TN,ORIGIN_STATE_ABR_TX
0,1,9,19393,0.0,0,0,0,0,0,0,0,1,0,0,0
1,1,15,19393,0.0,0,0,0,0,0,0,0,1,0,0,0
2,1,18,19393,0.0,0,0,0,0,0,0,0,1,0,0,0
3,1,9,19393,0.0,0,0,0,0,0,0,0,1,0,0,0
4,1,11,19393,0.0,0,0,0,0,0,0,0,1,0,0,0

In [45]:
modeldf.count()

DAY_OF_WEEK              525
depHour                  525
OP_CARRIER_AIRLINE_ID    525
DEP_DEL15                525
ORIGIN_STATE_ABR_AL      525
ORIGIN_STATE_ABR_CA      525
ORIGIN_STATE_ABR_CT      525
ORIGIN_STATE_ABR_GA      525
ORIGIN_STATE_ABR_ID      525
ORIGIN_STATE_ABR_MA      525
ORIGIN_STATE_ABR_MD      525
ORIGIN_STATE_ABR_NM      525
ORIGIN_STATE_ABR_NY      525
ORIGIN_STATE_ABR_TN      525
ORIGIN_STATE_ABR_TX      525
dtype: int64

In [46]:
modeldf.dtypes

DAY_OF_WEEK                 int64
depHour                  category
OP_CARRIER_AIRLINE_ID       int64
DEP_DEL15                 float64
ORIGIN_STATE_ABR_AL         uint8
ORIGIN_STATE_ABR_CA         uint8
ORIGIN_STATE_ABR_CT         uint8
ORIGIN_STATE_ABR_GA         uint8
ORIGIN_STATE_ABR_ID         uint8
ORIGIN_STATE_ABR_MA         uint8
ORIGIN_STATE_ABR_MD         uint8
ORIGIN_STATE_ABR_NM         uint8
ORIGIN_STATE_ABR_NY         uint8
ORIGIN_STATE_ABR_TN         uint8
ORIGIN_STATE_ABR_TX         uint8
dtype: object

In [48]:
modeldf['depHour']=modeldf['depHour'].astype(int)

In [49]:
modeldf.corr()

,DAY_OF_WEEK,depHour,OP_CARRIER_AIRLINE_ID,DEP_DEL15,ORIGIN_STATE_ABR_AL,ORIGIN_STATE_ABR_CA,ORIGIN_STATE_ABR_CT,ORIGIN_STATE_ABR_GA,ORIGIN_STATE_ABR_ID,ORIGIN_STATE_ABR_MA,ORIGIN_STATE_ABR_MD,ORIGIN_STATE_ABR_NM,ORIGIN_STATE_ABR_NY,ORIGIN_STATE_ABR_TN,ORIGIN_STATE_ABR_TX
DAY_OF_WEEK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
depHour,NaN,1.000000,NaN,0.201836,-0.021426,0.028920,-0.101635,0.096372,-0.000610,-0.042289,0.061008,-0.048188,-0.085039,0.005055,-0.023130
OP_CARRIER_AIRLINE_ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DEP_DEL15,NaN,0.201836,NaN,1.000000,-0.014066,-0.007865,-0.024823,0.037836,-0.054421,0.131484,-0.020562,0.053398,-0.079564,-0.042216,-0.013464
ORIGIN_STATE_ABR_AL,NaN,-0.021426,NaN,-0.014066,1.000000,-0.053376,-0.026230,-0.082802,-0.023392,-0.039610,-0.046258,-0.040247,-0.034199,-0.076472,-0.059494
ORIGIN_STATE_ABR_CA,NaN,0.028920,NaN,-0.007865,-0.053376,1.000000,-0.059852,-0.188940,-0.053376,-0.090383,-0.105552,-0.091836,-0.078037,-0.174496,-0.135755
ORIGIN_STATE_ABR_CT,NaN,-0.101635,NaN,-0.024823,-0.026230,-0.059852,1.000000,-0.092848,-0.026230,-0.044416,-0.051870,-0.045129,-0.038348,-0.085749,-0.066712
ORIGIN_STATE_ABR_GA,NaN,0.096372,NaN,0.037836,-0.082802,-0.188940,-0.092848,1.000000,-0.082802,-0.140212,-0.163744,-0.142465,-0.121059,-0.270695,-0.210597
ORIGIN_STATE_ABR_ID,NaN,-0.000610,NaN,-0.054421,-0.023392,-0.053376,-0.026230,-0.082802,1.000000,-0.039610,-0.046258,-0.040247,-0.034199,-0.076472,-0.059494
ORIGIN_STATE_ABR_MA,NaN,-0.042289,NaN,0.131484,-0.039610,-0.090383,-0.044416,-0.140212,-0.039610,1.000000,-0.078330,-0.068151,-0.057911,-0.129492,-0.100743
ORIGIN_STATE_ABR_MD,NaN,0.061008,NaN,-0.020562,-0.046258,-0.105552,-0.051870,-0.163744,-0.046258,-0.078330,1.000000,-0.079589,-0.067630,-0.151225,-0.117651
ORIGIN_STATE_ABR_NM,NaN,-0.048188,NaN,0.053398,-0.040247,-0.091836,-0.045129,-0.142465,-0.040247,-0.068151,-0.079589,1.000000,-0.058841,-0.131574,-0.102362
ORIGIN_STATE_ABR_NY,NaN,-0.085039,NaN,-0.079564,-0.034199,-0.078037,-0.038348,-0.121059,-0.034199,-0.057911,-0.067630,-0.058841,1.000000,-0.111803,-0.086982
ORIGIN_STATE_ABR_TN,NaN,0.005055,NaN,-0.042216,-0.076472,-0.174496,-0.085749,-0.270695,-0.076472,-0.129492,-0.151225,-0.131574,-0.111803,1.000000,-0.194497
ORIGIN_STATE_ABR_TX,NaN,-0.023130,NaN,-0.013464,-0.059494,-0.135755,-0.066712,-0.210597,-0.059494,-0.100743,-0.117651,-0.102362,-0.086982,-0.194497,1.000000

In [50]:
X = modeldf.drop('DEP_DEL15', axis=1)
y = modeldf['DEP_DEL15']

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=747)

In [54]:
LogReg = LogisticRegression()
LogReg.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [55]:
LogReg.score(X_train, y_train)

0.9083969465648855

In [56]:
y_pred = LogReg.predict(X_test)

In [57]:
cm = pd.DataFrame(
    confusion_matrix(y_test, y_pred),
    columns=['Predicted On Time', 'Predicted Late'],
    index=['True On Time', 'True Late']
)

cm

              Predicted On Time  Predicted Late
True On Time                109               0
True Late                    23               0

In [58]:
LogReg.score(X_test, y_test)

0.8257575757575758

In [59]:
print(classification_report(y_test, y_pred)) #Logistic Regression

              precision    recall  f1-score   support

         0.0       0.83      1.00      0.90       109
         1.0       0.00      0.00      0.00        23

    accuracy                           0.83       132
   macro avg       0.41      0.50      0.45       132
weighted avg       0.68      0.83      0.75       132

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [60]:
lm = LinearRegression()
lm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [63]:
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [64]:
lm.score(X_train, y_train)

0.0747989034010369

In [65]:
pred_train = lm.predict(X_train)
pred_test = lm.predict(X_test)

In [68]:
print(lm.score(X_train, y_train))
print(lm.score(X_test, y_test))

0.0747989034010369
-0.005811920719180019

In [69]:
cm = pd.DataFrame(
    confusion_matrix(y_test, y_pred),
    columns=['Predicted On Time', 'Predicted Late'],
    index=['True On Time', 'True Late']
)

cm

              Predicted On Time  Predicted Late
True On Time                109               0
True Late                    23               0

In [70]:
print(classification_report(y_test, y_pred)) #Linear Regression

              precision    recall  f1-score   support

         0.0       0.83      1.00      0.90       109
         1.0       0.00      0.00      0.00        23

    accuracy                           0.83       132
   macro avg       0.41      0.50      0.45       132
weighted avg       0.68      0.83      0.75       132

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [71]:
tree = tree.DecisionTreeClassifier()

In [72]:
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [73]:
tree.score(X_train, y_train)

0.9312977099236641

In [74]:
y_predict = tree.predict(X_test)

In [75]:
tree.score(X_test, y_test)

0.8333333333333334

In [77]:
cm = pd.DataFrame(
    confusion_matrix(y_test, y_pred),
    columns=['Predicted On Time', 'Predicted Late'],
    index=['True On Time', 'True Late']
)

cm

              Predicted On Time  Predicted Late
True On Time                109               0
True Late                    23               0

In [78]:
print(classification_report(y_test, y_pred)) #Decision Tree [*best so far*]

              precision    recall  f1-score   support

         0.0       0.83      1.00      0.90       109
         1.0       0.00      0.00      0.00        23

    accuracy                           0.83       132
   macro avg       0.41      0.50      0.45       132
weighted avg       0.68      0.83      0.75       132

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [79]:
gnb = GaussianNB()

In [80]:
gnb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [81]:
gnb.score(X_train, y_train)

0.19338422391857507

In [82]:
y_pred = gnb.predict(X_test)

In [83]:
cm = pd.DataFrame(
    confusion_matrix(y_test, y_pred),
    columns=['Predicted On Time', 'Predicted Late'],
    index=['True On Time', 'True Late']
)

cm

              Predicted On Time  Predicted Late
True On Time                 17              92
True Late                     0              23

In [84]:
gnb.score(X_test, y_test)

0.30303030303030304

In [85]:
print(classification_report(y_test, y_pred)) #Gaussian Naive Bayes

              precision    recall  f1-score   support

         0.0       1.00      0.16      0.27       109
         1.0       0.20      1.00      0.33        23

    accuracy                           0.30       132
   macro avg       0.60      0.58      0.30       132
weighted avg       0.86      0.30      0.28       132

In [86]:
bnb = BernoulliNB()

In [87]:
bnb.fit(X_train, y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [88]:
bnb.score(X_train, y_train)

0.9083969465648855

In [89]:
y_pred = bnb.predict(X_test)

In [90]:
cm = pd.DataFrame(
    confusion_matrix(y_test, y_pred),
    columns=['Predicted On Time', 'Predicted Late'],
    index=['True On Time', 'True Late']
)

cm

              Predicted On Time  Predicted Late
True On Time                109               0
True Late                    23               0

In [91]:
bnb.score(X_test, y_test)

0.8257575757575758

In [92]:
print(classification_report(y_test, y_pred)) #Bernoulli's Naive Bayes

              precision    recall  f1-score   support

         0.0       0.83      1.00      0.90       109
         1.0       0.00      0.00      0.00        23

    accuracy                           0.83       132
   macro avg       0.41      0.50      0.45       132
weighted avg       0.68      0.83      0.75       132

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [128]:
model2df=newdf[['DAY_OF_WEEK','depHour','OP_CARRIER_AIRLINE_ID','ORIGIN_STATE_ABR','DEP_DEL15']].copy()
model2df.head()

   DAY_OF_WEEK depHour  OP_CARRIER_AIRLINE_ID ORIGIN_STATE_ABR  DEP_DEL15
0            1       9                  19393               NM        0.0
1            1      15                  19393               NM        0.0
2            1      18                  19393               NM        0.0
3            1       9                  19393               NM        0.0
4            1      11                  19393               NM        0.0

In [129]:
model2df.ORIGIN_STATE_ABR = pd.Categorical(model2df.ORIGIN_STATE_ABR)

In [130]:
model2df['stcode'] = model2df.ORIGIN_STATE_ABR.cat.codes

In [131]:
model2df.tail()

,DAY_OF_WEEK,depHour,OP_CARRIER_AIRLINE_ID,ORIGIN_STATE_ABR,DEP_DEL15,stcode
523,1,11,19393,MD,0.0,6
524,1,15,19393,MD,0.0,6
525,1,22,19393,MD,0.0,6
526,1,9,19393,MD,0.0,6
527,1,19,19393,MD,0.0,6

In [132]:
model2df.dtypes

DAY_OF_WEEK                 int64
depHour                  category
OP_CARRIER_AIRLINE_ID       int64
ORIGIN_STATE_ABR         category
DEP_DEL15                 float64
stcode                       int8
dtype: object

In [133]:
model2df['depHour']=model2df['depHour'].astype(int)
model2df['stcode']=model2df['stcode'].astype(int)

In [134]:
model2df.dtypes

DAY_OF_WEEK                 int64
depHour                     int32
OP_CARRIER_AIRLINE_ID       int64
ORIGIN_STATE_ABR         category
DEP_DEL15                 float64
stcode                      int32
dtype: object

In [135]:
model2df = model2df.drop('ORIGIN_STATE_ABR', axis=1)

In [136]:
model2df.head()

   DAY_OF_WEEK  depHour  OP_CARRIER_AIRLINE_ID  DEP_DEL15  stcode
0            1        9                  19393        0.0       7
1            1       15                  19393        0.0       7
2            1       18                  19393        0.0       7
3            1        9                  19393        0.0       7
4            1       11                  19393        0.0       7

In [137]:
X = model2df.drop('DEP_DEL15', axis=1)
y = model2df['DEP_DEL15']

In [138]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=747)

In [139]:
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [140]:
tree.score(X_train, y_train)

0.9312977099236641

In [141]:
y_predict = tree.predict(X_test)

In [142]:
tree.score(X_test, y_test)

0.8333333333333334

In [143]:
cm = pd.DataFrame(
    confusion_matrix(y_test, y_pred),
    columns=['Predicted On Time', 'Predicted Late'],
    index=['True On Time', 'True Late']
)

cm

              Predicted On Time  Predicted Late
True On Time                109               0
True Late                    23               0

In [144]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.83      1.00      0.90       109
         1.0       0.00      0.00      0.00        23

    accuracy                           0.83       132
   macro avg       0.41      0.50      0.45       132
weighted avg       0.68      0.83      0.75       132

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [145]:
model2df.corr()

,DAY_OF_WEEK,depHour,OP_CARRIER_AIRLINE_ID,DEP_DEL15,stcode
DAY_OF_WEEK,NaN,NaN,NaN,NaN,NaN
depHour,NaN,1.000000,NaN,0.201836,-0.044309
OP_CARRIER_AIRLINE_ID,NaN,NaN,NaN,NaN,NaN
DEP_DEL15,NaN,0.201836,NaN,1.000000,-0.034776
stcode,NaN,-0.044309,NaN,-0.034776,1.000000

In [147]:
tpred = [1,17,19393,7]

print(tree.predict([tpred]))

[0.]

In [113]:
model2df['stcode'].value_counts()

3     119
9     105
10     69
1      57
6      44
7      34
5      33
8      25
2      15
4      12
0      12
Name: stcode, dtype: int64

In [114]:
kmeans = KMeans(n_clusters=2)
kmeans.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [115]:
print(kmeans.cluster_centers_)

[[1.00000000e+00 9.14234875e+00 1.93930000e+04 5.74377224e+00]
 [1.00000000e+00 1.76639344e+01 1.93930000e+04 5.65573770e+00]]

In [116]:
model2df['cluster'] = kmeans.labels_

In [117]:
model2df.head()

   DAY_OF_WEEK  depHour  OP_CARRIER_AIRLINE_ID  DEP_DEL15  stcode  cluster
0            1        9                  19393        0.0       7        0
1            1       15                  19393        0.0       7        1
2            1       18                  19393        0.0       7        1
3            1        9                  19393        0.0       7        0
4            1       11                  19393        0.0       7        0

In [127]:
X.columns

Index(['DAY_OF_WEEK', 'depHour', 'OP_CARRIER_AIRLINE_ID', 'stcode'], dtype='object')

In [124]:
kpred = [1,5,19393,7]
print(kmeans.predict([kpred]))

[0]

In [179]:
model3df=newdf[['ORIGIN_STATE_ABR']].copy()
model3df['stcode']=model2df['stcode']
model3df.head()

  ORIGIN_STATE_ABR  stcode
0               NM       7
1               NM       7
2               NM       7
3               NM       7
4               NM       7

In [181]:
model3df.drop_duplicates(['stcode'])

    ORIGIN_STATE_ABR  stcode
0                 NM       7
34                NY       8
44                TX      10
49                GA       3
233               CT       2
248               AL       0
260               TN       9
365               ID       4
377               MA       5
426               CA       1
483               MD       6

In [ ]:
#finaldf.to_csv("FlightData.csv", index=False)